name: Deploy to Naver Cloud

on:
  push:
    branches: [ deploy ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
      script: |
        cd ~/Tabletopia
        git fetch origin
        git checkout deploy
        git reset --hard origin/deploy
        docker-compose down
        docker-compose up -d --build
